@import "tailwindcss";

* {
  font-family: "WF Visual Sans", sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}